.header {
  background-color: $blue;
  width: 100vw;
  color: $white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title{
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  &--small {
    font-size: 28px;
  }
}

.header__img {
  background-color: $pBlue;
  border-radius: 30%;
  padding: 8px 6px;
  padding-left: 9px;
  max-width: 48px;
  &--back {
    transform: rotate(180deg);
  }
}

