.menu {
  flex: 1;
  display: flex;
}

.menu__list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 25px;
}

.menu__item {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 1.5px $black solid;
  padding: 20px;
  &:last-child {
    border-bottom: none;
  }
}

.menu__link{
  display: flex;
  align-items: center;
}

.menu__img {
  max-width: 70px;
  border-radius: 20%;
  background-color: $pBlue;
  padding: 10px;
  margin-right: 20px;
}

.menu__text {
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
}