$cyan: #A1C2F4;
$white: #FFF;
$black: #000;
$blue: #3722D0;
$pBlue: #CCDEF9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Source Serif Pro', serif;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
}

.wrapper {
    min-height: 100vh;
    background-color: $cyan;
    display: flex;
    flex-direction: column;
}

@import "./block/*";
